<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid" style="background-color: rgb(207, 141, 220); padding: 20PX;">
    <a class="navbar-brand" routerLink="" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size:30px;">FOOTFOCUS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <app-product-category-menu></app-product-category-menu>
        <app-search></app-search>

        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link"> Welcome...{{ getUserName() }}</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="" (click)="logout()">Logout</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-sm-2">
        <app-cart-status></app-cart-status>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- <app-product-list></app-product-list> -->